
html {
    font-size: 42px
}



























/*
.grandContainer{
    height: 480px;
    width: 960px;
    border: 5px solid grey;
    margin: auto;
    margin-top: 75px;

}

.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 250px;
    margin: auto;
    border: 5px solid indianred;
}
#scorePlayer{
    margin-right: 10px;
}

.iconContainer{
    height: 150px;
    width: 350px;
    margin: auto;
    / border: 5px solid black;
}

.btnIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50%;

}
*/